.HhButton {
    background-color: #d6001c;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 15%;
}

.instabutton {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border: none;
  color: white;
  width: 60px;
  height: 60px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;
  position: absolute;
  right: 80px;
  top: 15%;
}

@-webkit-keyframes pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  
  @keyframes pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  
  .pulse-grow {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  
  .pulse-grow:hover {
    -webkit-animation-name: pulse-grow;
    animation-name: pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  button, 
  button:active, 
  button:focus {
      outline: none;
  }

  .mainButtons {
    margin: 25px 0 0 0;
    width: 150px;
    height: 40px;
    background-color: #fb5255;
    border: none;
    color: white;
    position: relative;
    /*left: 50%;
    transform: translate(-50%, 0);*/
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }