body {
    background-color: rgb(124, 128, 156);
}

button {
    margin-left: 15px;
}

a {
    color: #495057;
}

a:hover {
    color: #FFFFFF;
}

p {
    margin: 0 !important;
}

#textWillBeHere {
    text-align: center;
}

.articleLink {
    color: #007BFF;
}

.articleLink:hover {
    color: #0069da;
}

.tab-pane {
    background-color: #FFFFFF;
    height: 100%;
    border-left: 1px solid #dee2e6;
    border-radius: 0 0 .25rem .25rem;
    padding: 40px;
}

.importResult {
    display: inline-block;
    min-width: 40%;
    min-height: 158px;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 30px;
}

.importResult p {
    text-align: center;
    font-weight: bold;
}

.tableResult {
    margin: 32px 0 0 0;
}

.wordsContent {
    display: inline-block;
    min-height: 300px;
    padding: 0 30px 30px 30px;
}

.articleContent {
    display: inline-block;
    border: 1px solid #ced4da;
    height: 300px;
    padding: 15px 15px 0 15px;
    text-align: left;
    overflow: auto;
}

.progress, .searchProgress {
    height: 38px;
    padding: 0 !important;
    margin-left: 15px;
    background-color: #ffffff;
    margin: 0 auto
}

.articleContent::-webkit-scrollbar {
    width: 15px;
}

.articleContent::-webkit-scrollbar-thumb {
    border-width:1px 1px 1px 1px;
    border-color: #ced4da;
    background-color: #007bff;
    border-radius: 10%;
    height: 20%;
}

.articleContent::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 1px;
    border-color: #ced4da;
    background-color: #0069da;
    border-radius: 10%;
    height: 20%;
}

.articleContent::-webkit-scrollbar-track {
    border-width: 0;
}

.articleContent::-webkit-scrollbar-track:hover {
    border-left: solid 1px #ced4da;
    background-color: rgb(248, 248, 248);
}